main {
  width: 100%; /* O un ancho fijo que funcione con tu diseño */
  display: flex; /* Esto permite que los elementos se alineen correctamente */
  justify-content: center; /* Centra el contenedor horizontalmente */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}
.contenedor-carrito {
  width: 1370px;
  height: 875px;
  display: flex;
  justify-content: center;
  background-color: rgba(212, 212, 212, 0.6);
  border-radius: 25px;
  margin: 20px;
}
.carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid yellow;
  width: 1149px;
  height: 80%;
  margin-top: 30px;
}
.texto-carrito {
  display: flex;
  align-items: center;
  gap: 10px;
}
h1 {
  font-size: 32px;
}
.icono {
  color: #f5b24f;
  font-size: 32px;
}
.eliminar {
  /* position: absolute;
  right: 20px;
  top: 100px; */
  padding: 0 1rem 1rem 54rem;
  font-size: 14px;
  color: black;
  text-decoration: underline;
}
.eliminar:hover {
  color: red;
}
.seguir-comprando {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 24px;
  background-color: #999898;
  color: white;
  width: 279px;
  height: 53px;
  border-radius: 10px;
  border: none;
}
.finalizar-compra {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 24px;
  background-color: #f5b24f;
  color: white;
  width: 279px;
  height: 53px;
  border-radius: 10px;
  border: none;
}
#products-container {
  border: solid 1px black;
  width: 90%;
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px; /* Añadir un poco de espacio */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #f8f9fa; /* Fondo claro para contraste */
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 15px; /* Espacio entre tarjetas */
  border: 1px solid #dee2e6; /* Borde suave para la tarjeta */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Para que no se desborde el contenido */
  background-color: #fff; /* Fondo blanco */
}

.card img {
  max-width: 100%; /* Asegurar que la imagen no se desborde */
  height: auto; /* Mantener la proporción de la imagen */
}

.product-info {
  padding: 10px; /* Espaciado interno */
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
