main {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}

.cart-container {
  background-color: rgba(212, 212, 212, 0.6);
  border-radius: 25px;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 20px;
  width: 1370px;
}

.container-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  margin-top: 30px;
  margin: 1rem 0 1rem 0;
}

#cart-hiden {
  height: 80% !important;

}

#purchase-hiden {
  height: 95% !important;
  width: 100%;
}

.cart-text {
  align-items: center;
  display: flex;
  gap: 10px;
}

h2 {
  font-size: 32px;
}

.bi-cart {
  color: #f5b24f;
  font-size: 32px;
}


.delete-cart {
  color: black;
  font-size: 14px;
  padding: 0 0 1rem 61rem;
  text-decoration: underline;
}

.delete-cart:hover {
  color: red;
}

empty-message {
  background-color: #BAB7B7;
  display: none;
}

.card {
  align-items: center;
  background: linear-gradient(to right, #f5b24e39 0%, #9bd9c93a);
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: 172px;
  justify-content: flex-start;
  width: 1149px;
}

.img-div {
  padding: 1rem;
}

.img-fluid {
  border: solid #F5B24F 1px;
  border-radius: 10px;
  height: 133px;
  object-fit: cover;
  width: 268px;
}

.title-price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}


.card-title {
  color: black;
  font-size: 24px;
}

.price {
  display: flex;
  width: 6rem;
}

.card-text {
  color: black;
  font-size: 20px;
  padding: 2%;
}

.product-info {
  height: 100%;
  padding: 1rem 1rem 1rem 0rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.quantity-delate {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 3rem;
}

.quantity-input {
  text-align: end;
  width: 3rem;
}

.bi-trash3::before {
  color: #F5B24F;
  font-size: 1.5rem;
}

.subtotal {
  color: black;
  font-size: 24px;
  right: 3rem;
  position: absolute;
}

.buttons{
  margin-top:10rem ;
}

.continue-buying {
  background-color: #999898;
  border-radius: 10px;
  border: none;
  bottom: 10px;
  color: white;
  font-size: 24px;
  position: absolute;
  left: 20px;
  height: 53px;
  width: 279px;
}

.finalize-purchase {
  background-color: #f5b24f;
  border-radius: 10px;
  border: none;
  bottom: 10px;
  color: white;
  font-size: 24px;
  right: 0px;
  position: absolute;
  height: 53px;
  width: 279px;
}



/* Parte de los formularios */
h5{
  margin: 1rem 0 2rem 0;
}
h3 {
  align-items: center;
  background-color: #F5B24F;
  border: 1px #F5B24F solid;
  border-radius: 10px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding: 1rem;
  height: 40px;
  width: 430px;

}

.forms-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  padding-bottom: 2rem;

}

#shipment,
#pay,
#final-step {
  margin: 1rem 0.2rem 0 0.2rem; 

}

.forms-div {
  background: linear-gradient(to right, #f5b24e84 0%, #9bd9c981);
  border-radius: 10px;
  height: 92%;

}



span {
  margin-bottom: 1rem;
}

.radio-group {
width: 80%;
}

.radio-item {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.radio-item input[type="radio"] {
  appearance: none;
}

.radio-item input[type="radio"]+label::before {
  background-color: #FFFF;
  border: 2px #F5B24F solid;
  border-radius: 20px;
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  height: 15px;
  width: 15px;
}

.radio-item input[type="radio"]:checked+label::before {
  background-color: #F5B24F;
  /* Cambia el color al que desees cuando esté seleccionado */
}

input {
  padding: .5rem 0px .5rem 0;
}

label {
  padding: .5rem 0px .5rem 0;
  margin: 0;
}

.text-group label,
.text-group input {
  display: block;
}

.text-group input {
  background: #FFFF;
  border-radius: 20px;
  border: 1px #f5b24f solid;
  display: block;
  height: 40px;
  width: 312px;

}

.text-group input[type="button"] {
  align-items: center;
  background: #f5b24f;
  border-radius: 10px;
  bottom: 4rem;
  color: #FFFF;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 300px;
}

#pay-next-button{
  margin-top:99.5%;
}

#ship-next-button{
  margin-top: 5%;
}

#final-button{
  margin-bottom: 5%;
}
.resume {
  display: flex;
  justify-content: center;
}

#form-final-step {
  text-align: center;
  width: 100%;
}

table {
  margin: -5rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  text-align: start;
}

.costs {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 90%;
}

#table-resume {
  width: auto;
  border-collapse: collapse;
}

#table-resume th, #table-resume td {
  padding: 0 1rem .5rem 0;
  text-align: left;
}

#table-resume td:nth-child(3) {
  text-align: center;
  width: 50px; 
}

#table-resume td:nth-child(2) {
  white-space: nowrap;
}

.forms{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}