main {
  width: 100%; /* O un ancho fijo que funcione con tu diseño */
  display: flex; /* Esto permite que los elementos se alineen correctamente */
  justify-content: center; /* Centra el contenedor horizontalmente */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}
.cart-container {
  width: 1370px;
  height: 875px;
  display: flex;
  justify-content: center;
  background-color: rgba(212, 212, 212, 0.6);
  border-radius: 25px;
  margin: 20px;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  margin-top: 30px;
}

#cart-hiden{
  height: 80% !important;
}

#purchse-hiden{
  height: 95% !important;
  width: 100%;
}
.cart-text{
  display: flex;
  align-items: center;
  gap: 10px;
}
h2 {
  font-size: 32px;
}
.bi-cart{
  color: #f5b24f;
  font-size: 32px;
}


.delete-cart {
  padding: 0 0 1rem 61rem;
  font-size: 14px;
  color: black;
  text-decoration: underline;
}
.delete-cart:hover {
  color: red;
}
empty-message{
  display: none;
  background-color: #BAB7B7;
}

.card {
  flex-direction: row;
  display: flex;
  border-radius: 8px;
  width: 1149px;
  height: 172px;
  background: linear-gradient(to right, #f5b24e39 0%, #9bd9c93a);
  justify-content: flex-start;
  align-items: center;
  border: none;
}
.img-div{
  padding: 1rem;
} 
 .img-fluid{
  width: 268px;
  border: solid #F5B24F 1px;
  border-radius: 10px;
  height: 133px;
  object-fit: cover;
 }

.title-price{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}


.card-title{
  font-size: 24px;
  color: black;
}

.price{
  display: flex;
  width: 6rem;
}
.card-text{
  font-size: 20px;
  color: black;
  padding: 2%;
}

.product-info{
  height: 100%;
  padding: 1rem 1rem 1rem 0rem;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.quantity-delate{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 3rem;
}

.quantity-input{
  width: 3rem;
  text-align: end;
}

.bi-trash3::before {
  font-size: 1.5rem;
  color: #F5B24F;
}

.subtotal{
  position: absolute;
  right: 3rem;
  font-size: 24px;
  color: black;
}

.continue-buying {
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 24px;
  background-color: #999898;
  color: white;
  width: 279px;
  height: 53px;
  border-radius: 10px;
  border: none;
}
.finalize-purchase{
  position: absolute;
  right: 0px;
  bottom: 10px;
  font-size: 24px;
  background-color: #f5b24f;
  color: white;
  width: 279px;
  height: 53px;
  border-radius: 10px;
  border: none;
}


@media (max-width: 768px) {
}
@media (max-width: 576px) {
}


/* Parte de los formularios */
h3{
  background-color: #F5B24F;
  border: 1px #F5B24F solid;
  border-radius: 10px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 40px;
  width: 430px;
  
}
.forms-container{
  display: flex;
  justify-content: space-around;
  height: 100%;

}
#shipment, #pay, #final-step{
  margin: 1rem 0.2rem;

}
.forms-div{
  background: linear-gradient(to right, #f5b24e84 0%, #9bd9c981);
  border-radius: 10px;
  height: 92%;

}
form{
  padding: 2.5rem 0 0 3.2rem;
}


span{
  margin-bottom: 10px;
}
.radio-group {
  display: flex;
  flex-direction: column;
}
.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.radio-item input[type="radio"]  {
  appearance: none;
}

.radio-item input[type="radio"] + label::before{
  background-color: #FFFF;
  border: 2px  #F5B24F solid;
  border-radius: 20px;
  content:"";
  display: inline-block;
  margin-right: 0.5rem;
  height: 15px;
  width: 15px;
}
.radio-item input[type="radio"]:checked + label::before {
  background-color: #F5B24F; /* Cambia el color al que desees cuando esté seleccionado */
}
input{
  padding: .5rem 0px .5rem 0;
}
label{
  padding: .5rem 0px .5rem 0;
  margin: 0;
}
.text-group label,
.text-group input {
  display: block;
}
.text-group input {
  display: block;
  background: #FFFF;
  border-radius: 20px;
  border: 1px #f5b24f solid;
  height: 40px;
  width: 312px;

}
.text-group input[type="button"]{
  background: #f5b24f ;
  border-radius: 10px;
  color: #FFFF;
  margin-top: 1rem;
  text-align: center;
  height: 30px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
