body {
    font-family: Arial, sans-serif;
    background-image: url(img/background-image_page-0001.jpg);  
}

.navbar {
  font-family: 'Verdana', serif !important;
}

  /* Banner */

.banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    padding: 20px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .text{
    font-size: 2rem;
    font-family: "Lexend Exa", sans-serif;
  }
  hr {  
    width:12px;
    color: black;
  }

  /* Icono carrito */

.comprarIcon {
    color: black;
    transition: color 0.2s;
    text-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
    transition: all .3s;
    cursor: pointer;
        &:hover{   /* Zoom in on hover */
            color: goldenrod;
            text-shadow: 3px 3px 3px rgba(92, 78, 74, 0.521);
            transform: scale(1.5);
        }
        &:active{
            text-shadow: 3px 3px 3px rgba(95, 79, 75, 0.445);
            transform: scale(1.20);
        }
}

  /* Product cards */
  
  .descripcionCard {
    color: gray;
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 1%;
}

.card-title {
    font-size: 1.25rem;
}

.descripcionCard,
.priceCard,
.cantCard {
    font-size: 0.9rem;
}

.card-body{
    height: 300px;
}

.pruebaCard {
    width: 100%; 
    height: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: all 0.5s;
}

.card-img-top {
    width: 100%; 
    height: auto;
    object-fit: cover;
    max-height: 250px;
}

/* Blur other cards on hover */
.pruebaCard:hover {
    background-color: rgb(245, 234, 226);
    transform: scale(1.02);
}

.card-list:has(div.wow:hover) div.wow:not(:hover) {
  filter: blur(4px)
}

  /* Precio */

  .nombreYPrecio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
  }
  
  .rangoPrecio {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .rangoPrecio p{
    width: 70%;
    font-size: 0.8rem;
  }

  label{
    font-size: 12px;
  }

  /* Filtros */

.textoYFiltros {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.ordenarBuscadorPrecio {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-end;
}

  .filtrarNombre {
    display: flex;
    width: 30%;
  }
  
  .ordenar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .filtros {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  input.form-control {
    font-weight: bold;
    border-color: gold;
    font-size: 0.8rem;
  }
  
  #precioUp, #precioDown, #filtroVentas, #botonFiltrar, #limpiarFiltro {
    color: #a57c15;
    font-weight: bold;
    border-color: gold;
    font-size: 0.8rem;
    
  }
input{
    width: 5rem;
    align-items: center;
}
@media (max-width: 768px) {
    .card-title {
        font-size: 1.25rem;
    }

    .descripcionCard,
    .priceCard,
    .cantCard {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 1rem;
    }

    .descripcionCard,
    .priceCard,
    .cantCard {
        font-size: 0.8rem;
    }
    .imageProductsLogo {
        padding:20px;
        max-width: 100%;
        display: block;
    }
}