body {
    font-family: Arial, sans-serif;
    background-color: white;  
}
/*cambiar el background a la imagen en main*/

.navbar {
  font-family: 'Verdana', serif !important;
}

.imageProductsLogo {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    display: block;
}

.descripcionCard {
    color: gray;
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cantCard {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 18px;
}

.priceCard {
    margin-top: 3%;
    margin-bottom: 0%;
    font-size: 18px;
}

.comprarIcon {
    color: black;
    transition: color 0.2s;
    text-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
    transition: all .3s;
    cursor: pointer;
        &:hover{
            color: goldenrod;
            text-shadow: 3px 3px 3px rgba(92, 78, 74, 0.521);
            transform: scale(1.5);
        }
        &:active{
            text-shadow: 3px 3px 3px rgba(95, 79, 75, 0.445);
            transform: scale(1.20);
        }
}
.card-body{
    height: 200px;
}

.pruebaCard {
    background-color: white;
    transition: all 0.5s;
}

.pruebaCard:hover {
    background-color: rgb(245, 234, 226);
    transform: scale(1.08);
}

.card-list:has(div.wow:hover) div.wow:not(:hover) {
  filter: blur(4px)
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1.25rem;
    }

    .descripcionCard,
    .priceCard,
    .cantCard {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .card-title {
        font-size: 1rem;
    }

    .descripcionCard,
    .priceCard,
    .cantCard {
        font-size: 0.8rem;
    }
    .imageProductsLogo {
        padding:20px;
        max-width: 100%;
        display: block;
    }
}

